<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/Styles/styles.css">

    <title>My blog webapp</title>
</head>
<body>
    <main>
    <header class="p-3 text-bg-dark"> 
        <div class="container"> 
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> <img src="/Images/S logo.png" alt="logo" width="40" height="40" /> </a> 
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"> 
                    <li><a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">Home</a></li> 
                    <li><a href="/create-blog" class="<%= activePage === 'login-page' && 'create-blog' && 'create-blogs' && 'login-pages' ? 'active' : '' %>" >Create-Blog</a></li> 
                    <li><a href="/blogs" class="<%= activePage === 'blogs' ? 'active' : '' %>">Blogs</a></li> 
                </ul> 
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> 
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search"> 
                </form> 
                <div class="text-end"> 
                    <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href='/login-page'">Login</button> 
                    <button type="button" class="btn btn-warning" onclick="window.location.href='/signup'">Sign-up</button> 
                </div> 
            </div>
        </div> 
    </header>
    
    <div class="text-center" style="padding-left: 30px; padding-right: 30px;"> 
        <h1 class="index" style="color: white; font-weight: 700;">Read, create, and explore the stories that matter</h1> 
        <div class="col-lg-6 mx-auto index"> 
            <p class="lead mb-4">Dive into a world of personal insights, tech updates, and creative thoughts. Whether you're here to share your voice or discover new perspectives, every story begins here.</p> 
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> 
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="window.location.href='/login-page'">Login</button> 
                <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href='/signup'">Signup</button> 
            </div> 
        </div> 
    </div>

    <div class="album py-5 bg-body-tertiary"> 
        <div class="container"> 
            <h2 class="pb-2 border-bottom">Recent posts</h2><br>
            <!--state if no post available-->
            <% if (posts.length === 0) { %>
                <p style="text-align: center; font-size: 20px; font-weight: 500;">No blog post available!</p>
            <% } %>
            <div class="cards-container"> 
                <% posts.forEach(function(post) { //render post dynamically %>
                <div class="each-card"> 
                    <div class="card shadow-sm"> 
                        <% if (post.blogImage) { %>
                        <img src="<%= post.blogImage %>" style="height: 70%; width: 100%; object-fit: cover; background-position: 50% 10%;" /><rect width="100%" height="100%" fill="#55595c"></rect>
                        <% } %>
                        <div class="card-body"> 
                            <h5><%= post.blogHeading %></h5>
                            <p class="card-text"><%= post.blogBody %></p> 
                            <div class="d-flex justify-content-between align-items-center"> 
                                <div class="btn-group">
                                    <form action="/view/<%= post.id %>" method="GET" style="display: inline;">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                                    </form>
                                    <form action="/edit/<%= post.id %>" method="GET" style="display: inline;">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </form>
                                    <form action="/delete/<%= post.id %>" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this post?');">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button> 
                                    </form>
                                </div> 
                                <small class="text-body-secondary"> <%= post.datePostedTwo %>
                                </small> 
                            </div> 
                        </div>
                    </div> 
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    </main>
    <footer>
        <p>Copyright - TechFBI © <%= new Date().getFullYear() %></p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>